.env.local
.env.*.local
node_modules
tsconfig.tsbuildinfo
supabase/.temp/project-ref
.DS_Store

# next.js
.next
/out

# next-sitemap
public/robots.txt
public/sitemap.xml
public/sitemap-*.xml

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

# PWA
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/workbox-*.js
apps/web/public/workbox-*.js.map
apps/web/public/swe-worker-*.js

# playwright
test-results/
playwright/.auth/
