@import 'tailwindcss';
@import 'tw-animate-css';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@source "../**/*.{js,ts,jsx,tsx,mdx}";
@source "../../content/**/*.mdx";

@plugin "@tailwindcss/typography" {
  classname: wysiwyg;
}

@plugin "@tailwindcss/forms";

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee 30s linear infinite;
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  --breakpoint-2xl: 1400px;
  --width-8xl: 88rem;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }

  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateY(calc(var(--radius) * 1px)) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(calc(var(--radius) * 1px))
        rotate(-360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@import './utils.css';

@layer base {
  button {
    cursor: pointer;
  }
}

@keyframes animate-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - var(--gap)));
  }
}

.animate-marquee {
  animation-name: animate-marquee;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate-marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-50% - var(--gap)));
  }
}

.animate-marquee-vertical {
  animation-name: animate-marquee-vertical;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}